source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget dotnetzip
nuget microsoft.aspnet.mvc
nuget xunit

github fsharp/FAKE modules/Octokit/Octokit.fsx